.images {
  background-image: url("../../images/gape.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  border: none; /* Removes the green border */
}
.translate {
  font-family: Aquino, cursive;
  color: hsla(0, 0%, 100%, 0.96);
}
.text1 {
  font-style: italic;
  font-size: 20px;
  font-weight: 500px;
}
.text2 {
  font-style: italic;
  font-size: 20px;
  font-weight: 500px;
  padding-top: 30px;
}
.text3 {
  font-style: italic;
  font-size: 20px;
  font-weight: 500px;
  padding-top: 30px;
}
.mainrow {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}
#mainh1 {
  font-size: 80px;
  /* font-weight: 500px; */
  font-weight: bold;
}
#mainpp {
  font-style: italic;
  font-size: 15px;
}
.mainimages{
  width: 400px;
} 
@media (max-width: 770px) {
  .mainrow {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  .mainimages{
    width: 330px;
  }
}
@media(max-width: 480px){
  .mainimages{
    width: 220px;
  }
}
